<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="rmmcFrame">
		<size>1040,740</size>
		<id_arg>0</id_arg>
		<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
			<pos>448,320</pos>
			<style>wxSIMPLE_BORDER|wxTAB_TRAVERSAL</style>
			<object class="wxBoxSizer" variable="BoxSizer1" member="no">
				<orient>wxVERTICAL</orient>
				<object class="sizeritem">
					<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
						<rows>2</rows>
						<growablecols>0</growablecols>
						<growablerows>0,1</growablerows>
						<object class="sizeritem">
							<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
								<cols>2</cols>
								<rows>1</rows>
								<growablecols>0,1</growablecols>
								<growablerows>0</growablerows>
								<object class="sizeritem">
									<object class="wxBoxSizer" variable="BoxSizer2" member="no">
										<orient>wxVERTICAL</orient>
										<object class="sizeritem">
											<object class="wxBoxSizer" variable="BoxSizer5" member="no">
												<object class="sizeritem">
													<object class="wxBoxSizer" variable="BoxSizer6" member="no">
														<object class="sizeritem">
															<object class="wxBitmapButton" name="ID_BITMAPBUTTON4" variable="BitmapButton4" member="yes">
																<bitmap stock_id="wxART_NEW" />
																<default>1</default>
																<size>24,24</size>
																<handler function="OnButton2Click" entry="EVT_BUTTON" />
															</object>
															<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
															<border>1</border>
														</object>
														<object class="sizeritem">
															<object class="wxBitmapButton" name="ID_BITMAPBUTTON2" variable="BitmapButton2" member="yes">
																<bitmap>C:\wx294\art\deffile.xpm</bitmap>
																<default>1</default>
																<size>24,24</size>
															</object>
															<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
															<border>1</border>
														</object>
														<object class="sizeritem">
															<object class="wxBitmapButton" name="ID_BITMAPBUTTON5" variable="BitmapButton5" member="yes">
																<bitmap>C:\wx294\art\deffile.xpm</bitmap>
																<default>1</default>
																<size>24,24</size>
															</object>
															<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
															<border>1</border>
														</object>
													</object>
													<flag>wxTOP|wxBOTTOM|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxBoxSizer" variable="BoxSizer8" member="no">
														<object class="sizeritem">
															<object class="wxBitmapButton" name="ID_BITMAPBUTTON1" variable="BitmapButton1" member="yes">
																<bitmap>C:\wx294\art\deffile.xpm</bitmap>
																<size>24,24</size>
															</object>
															<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
															<border>1</border>
														</object>
														<object class="sizeritem">
															<object class="wxBitmapButton" name="ID_BITMAPBUTTON3" variable="BitmapButton3" member="yes">
																<bitmap>C:\wx294\art\deffile.xpm</bitmap>
																<default>1</default>
																<size>24,24</size>
																<focused>1</focused>
															</object>
															<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
															<border>1</border>
														</object>
													</object>
													<flag>wxTOP|wxBOTTOM|wxLEFT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												</object>
											</object>
											<flag>wxTOP|wxBOTTOM|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										</object>
										<object class="sizeritem">
											<object class="wxTreeCtrl" name="ID_TREECTRL1" subclass="TreeCtrlWithChecks" variable="CommandsTreeCtrl" member="yes">
												<image_list>&lt;none&gt;</image_list>
												<tree_items>
													<item>CommandsTreeCtrl</item>
													<item>&lt;none&gt;</item>
												</tree_items>
												<items_text>
													<item2>CommandsTreeCtrl</item2>
													<item2>&lt;none&gt;</item2>
												</items_text>
												<style>wxTR_HIDE_ROOT|wxTR_DEFAULT_STYLE</style>
											</object>
											<flag>wxTOP|wxBOTTOM|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>1</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxBOTTOM|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBoxSizer" variable="BoxSizer3" member="no">
										<object class="spacer">
											<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
											<size>553,394</size>
										</object>
									</object>
									<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
							<flag>wxBOTTOM|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxBoxSizer" variable="BoxSizer4" member="no">
								<object class="spacer">
									<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
					<flag>wxBOTTOM|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<border>5</border>
					<option>1</option>
				</object>
			</object>
		</object>
		<object class="wxMenuBar" variable="MenuBar1" member="no">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="ID_MENUITEM1" variable="MenuItem1" member="no">
					<label>Quit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>Help</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="StatusBar1" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
			<style>wxST_SIZEGRIP</style>
		</object>
		<object class="wxImageList" variable="ItemStatesImageList" member="yes">
			<image_list>
				<item>16</item>
				<item>16</item>
				<item>static const char *xpm_data[] = {</item>
				<item>&quot;16 16 6 1&quot;,</item>
				<item>&quot;+ c #FFFFFF&quot;,</item>
				<item>&quot;o c #DADADA&quot;,</item>
				<item>&quot;O c #F4F4F4&quot;,</item>
				<item>&quot;_ c None&quot;,</item>
				<item>&quot;X c #E0E0E0&quot;,</item>
				<item>&quot;. c #9D9D9D&quot;,</item>
				<item>&quot;________________&quot;,</item>
				<item>&quot;________________&quot;,</item>
				<item>&quot;___...........__&quot;,</item>
				<item>&quot;__.XXXXXXXXXXo._&quot;,</item>
				<item>&quot;__.XOOOOOOOOO+._&quot;,</item>
				<item>&quot;__.XOOOOOOOOO+._&quot;,</item>
				<item>&quot;__.XOOOOOOOOO+._&quot;,</item>
				<item>&quot;__.XOOOOOOOOO+._&quot;,</item>
				<item>&quot;__.XOOOOOOOOO+._&quot;,</item>
				<item>&quot;__.XOOOOOOOOO+._&quot;,</item>
				<item>&quot;__.XOOOOOOOOO+._&quot;,</item>
				<item>&quot;__.XOOOOOOOOO+._&quot;,</item>
				<item>&quot;__.XOOOOOOOOO+._&quot;,</item>
				<item>&quot;__.o++++++++++._&quot;,</item>
				<item>&quot;___...........__&quot;,</item>
				<item>&quot;________________&quot;</item>
				<item>};</item>
				<item>static const char *xpm_data[] = {</item>
				<item>&quot;16 16 25 1&quot;,</item>
				<item>&quot;= c Black&quot;,</item>
				<item>&quot;1 c #1E1E1E&quot;,</item>
				<item>&quot;@ c #FFFFFF&quot;,</item>
				<item>&quot;5 c #444444&quot;,</item>
				<item>&quot;o c #DADADA&quot;,</item>
				<item>&quot;# c #818181&quot;,</item>
				<item>&quot;: c #909090&quot;,</item>
				<item>&quot;+ c #DBDBDB&quot;,</item>
				<item>&quot;&amp; c #737373&quot;,</item>
				<item>&quot;2 c #BEBEBE&quot;,</item>
				<item>&quot;4 c #121212&quot;,</item>
				<item>&quot;; c #6C6C6C&quot;,</item>
				<item>&quot;7 c #8A8A8A&quot;,</item>
				<item>&quot;6 c #DDDDDD&quot;,</item>
				<item>&quot;O c #F4F4F4&quot;,</item>
				<item>&quot;, c #7D7D7D&quot;,</item>
				<item>&quot;&gt; c #C8C8C8&quot;,</item>
				<item>&quot;3 c #676767&quot;,</item>
				<item>&quot;- c #B2B2B2&quot;,</item>
				<item>&quot;_ c None&quot;,</item>
				<item>&quot;* c #C1C1C1&quot;,</item>
				<item>&quot;$ c #424242&quot;,</item>
				<item>&quot;&lt; c #A4A4A4&quot;,</item>
				<item>&quot;X c #E0E0E0&quot;,</item>
				<item>&quot;. c #9D9D9D&quot;,</item>
				<item>&quot;________________&quot;,</item>
				<item>&quot;________________&quot;,</item>
				<item>&quot;___...........__&quot;,</item>
				<item>&quot;__.XXXXXXXXXXo._&quot;,</item>
				<item>&quot;__.XOOOOOOOO+@._&quot;,</item>
				<item>&quot;__.XOOOOOOO#$@._&quot;,</item>
				<item>&quot;__.XOOOOOO&amp;$*@._&quot;,</item>
				<item>&quot;__.XOOOOO&amp;=-O@._&quot;,</item>
				<item>&quot;__.XO;:O&gt;=&amp;OO@._&quot;,</item>
				<item>&quot;__.X,==&lt;$12OO@._&quot;,</item>
				<item>&quot;__.XO34==5OOO@._&quot;,</item>
				<item>&quot;__.XO6&lt;4=7OOO@._&quot;,</item>
				<item>&quot;__.XOOO:$oOOO@._&quot;,</item>
				<item>&quot;__.o@@@@@@@@@@._&quot;,</item>
				<item>&quot;___...........__&quot;,</item>
				<item>&quot;________________&quot;</item>
				<item>};</item>
			</image_list>
			<image_text>
				<item2>16</item2>
				<item2>16</item2>
				<item2>static const char *xpm_data[] = {</item2>
				<item2>&quot;16 16 6 1&quot;,</item2>
				<item2>&quot;+ c #FFFFFF&quot;,</item2>
				<item2>&quot;o c #DADADA&quot;,</item2>
				<item2>&quot;O c #F4F4F4&quot;,</item2>
				<item2>&quot;_ c None&quot;,</item2>
				<item2>&quot;X c #E0E0E0&quot;,</item2>
				<item2>&quot;. c #9D9D9D&quot;,</item2>
				<item2>&quot;________________&quot;,</item2>
				<item2>&quot;________________&quot;,</item2>
				<item2>&quot;___...........__&quot;,</item2>
				<item2>&quot;__.XXXXXXXXXXo._&quot;,</item2>
				<item2>&quot;__.XOOOOOOOOO+._&quot;,</item2>
				<item2>&quot;__.XOOOOOOOOO+._&quot;,</item2>
				<item2>&quot;__.XOOOOOOOOO+._&quot;,</item2>
				<item2>&quot;__.XOOOOOOOOO+._&quot;,</item2>
				<item2>&quot;__.XOOOOOOOOO+._&quot;,</item2>
				<item2>&quot;__.XOOOOOOOOO+._&quot;,</item2>
				<item2>&quot;__.XOOOOOOOOO+._&quot;,</item2>
				<item2>&quot;__.XOOOOOOOOO+._&quot;,</item2>
				<item2>&quot;__.XOOOOOOOOO+._&quot;,</item2>
				<item2>&quot;__.o++++++++++._&quot;,</item2>
				<item2>&quot;___...........__&quot;,</item2>
				<item2>&quot;________________&quot;</item2>
				<item2>};</item2>
				<item2>static const char *xpm_data[] = {</item2>
				<item2>&quot;16 16 25 1&quot;,</item2>
				<item2>&quot;= c Black&quot;,</item2>
				<item2>&quot;1 c #1E1E1E&quot;,</item2>
				<item2>&quot;@ c #FFFFFF&quot;,</item2>
				<item2>&quot;5 c #444444&quot;,</item2>
				<item2>&quot;o c #DADADA&quot;,</item2>
				<item2>&quot;# c #818181&quot;,</item2>
				<item2>&quot;: c #909090&quot;,</item2>
				<item2>&quot;+ c #DBDBDB&quot;,</item2>
				<item2>&quot;&amp; c #737373&quot;,</item2>
				<item2>&quot;2 c #BEBEBE&quot;,</item2>
				<item2>&quot;4 c #121212&quot;,</item2>
				<item2>&quot;; c #6C6C6C&quot;,</item2>
				<item2>&quot;7 c #8A8A8A&quot;,</item2>
				<item2>&quot;6 c #DDDDDD&quot;,</item2>
				<item2>&quot;O c #F4F4F4&quot;,</item2>
				<item2>&quot;, c #7D7D7D&quot;,</item2>
				<item2>&quot;&gt; c #C8C8C8&quot;,</item2>
				<item2>&quot;3 c #676767&quot;,</item2>
				<item2>&quot;- c #B2B2B2&quot;,</item2>
				<item2>&quot;_ c None&quot;,</item2>
				<item2>&quot;* c #C1C1C1&quot;,</item2>
				<item2>&quot;$ c #424242&quot;,</item2>
				<item2>&quot;&lt; c #A4A4A4&quot;,</item2>
				<item2>&quot;X c #E0E0E0&quot;,</item2>
				<item2>&quot;. c #9D9D9D&quot;,</item2>
				<item2>&quot;________________&quot;,</item2>
				<item2>&quot;________________&quot;,</item2>
				<item2>&quot;___...........__&quot;,</item2>
				<item2>&quot;__.XXXXXXXXXXo._&quot;,</item2>
				<item2>&quot;__.XOOOOOOOO+@._&quot;,</item2>
				<item2>&quot;__.XOOOOOOO#$@._&quot;,</item2>
				<item2>&quot;__.XOOOOOO&amp;$*@._&quot;,</item2>
				<item2>&quot;__.XOOOOO&amp;=-O@._&quot;,</item2>
				<item2>&quot;__.XO;:O&gt;=&amp;OO@._&quot;,</item2>
				<item2>&quot;__.X,==&lt;$12OO@._&quot;,</item2>
				<item2>&quot;__.XO34==5OOO@._&quot;,</item2>
				<item2>&quot;__.XO6&lt;4=7OOO@._&quot;,</item2>
				<item2>&quot;__.XOOO:$oOOO@._&quot;,</item2>
				<item2>&quot;__.o@@@@@@@@@@._&quot;,</item2>
				<item2>&quot;___...........__&quot;,</item2>
				<item2>&quot;________________&quot;</item2>
				<item2>};</item2>
			</image_text>
			<image_count>2</image_count>
		</object>
		<object class="wxImageList" variable="ToolBarImageList" member="yes">
			<image_list>
				<item>16</item>
				<item>16</item>
				<item>static const char *xpm_data[] = {</item>
				<item>&quot;16 16 30 1&quot;,</item>
				<item>&quot;w c Black&quot;,</item>
				<item>&quot;= c #97C4E7&quot;,</item>
				<item>&quot;; c #72A8D2&quot;,</item>
				<item>&quot;&gt; c #FFFFFF&quot;,</item>
				<item>&quot;0 c #839CB5&quot;,</item>
				<item>&quot;o c #6B98B8&quot;,</item>
				<item>&quot;X c #5A89A6&quot;,</item>
				<item>&quot;# c #3A749C&quot;,</item>
				<item>&quot;&lt; c #D1E5F5&quot;,</item>
				<item>&quot;q c #85A7BC&quot;,</item>
				<item>&quot;$ c #C3DDF1&quot;,</item>
				<item>&quot;9 c #749BB4&quot;,</item>
				<item>&quot;: c #5F9BC8&quot;,</item>
				<item>&quot;+ c #538DB3&quot;,</item>
				<item>&quot;- c #85BBE2&quot;,</item>
				<item>&quot;4 c #EFF6FC&quot;,</item>
				<item>&quot;O c #6591AE&quot;,</item>
				<item>&quot;6 c #F7FBFD&quot;,</item>
				<item>&quot;8 c #FAFCFE&quot;,</item>
				<item>&quot;1 c #DAEAF7&quot;,</item>
				<item>&quot;5 c #E9F3FA&quot;,</item>
				<item>&quot;_ c None&quot;,</item>
				<item>&quot;7 c #FDFDFE&quot;,</item>
				<item>&quot;2 c #E2EFF8&quot;,</item>
				<item>&quot;. c #8EA9BC&quot;,</item>
				<item>&quot;&amp; c #B6D5EE&quot;,</item>
				<item>&quot;* c #A5CCEA&quot;,</item>
				<item>&quot;, c #ACE95B&quot;,</item>
				<item>&quot;3 c #F4F9FD&quot;,</item>
				<item>&quot;@ c #4581AA&quot;,</item>
				<item>&quot;___.XoOO+@#.____&quot;,</item>
				<item>&quot;___.$$&amp;*=-O;:___&quot;,</item>
				<item>&quot;__@@@@$&amp;*=O&gt;=o__&quot;,</item>
				<item>&quot;__@,,@$$&amp;*O&gt;&gt;=o_&quot;,</item>
				<item>&quot;@@@,,@@@$&amp;OOoO+_&quot;,</item>
				<item>&quot;@,,,,,,@&lt;$&amp;*=-+_&quot;,</item>
				<item>&quot;@,,,,,,@1&lt;$&amp;*=+_&quot;,</item>
				<item>&quot;@@@,,@@@21&lt;$&amp;*O_&quot;,</item>
				<item>&quot;__@,,@34521&lt;$&amp;O_&quot;,</item>
				<item>&quot;__@@@@634521&lt;$o_&quot;,</item>
				<item>&quot;___.&gt;78634521&lt;9_&quot;,</item>
				<item>&quot;___.&gt;&gt;786345219_&quot;,</item>
				<item>&quot;___.&gt;&gt;&gt;78634520_&quot;,</item>
				<item>&quot;___.&gt;&gt;&gt;&gt;786345q_&quot;,</item>
				<item>&quot;___............_&quot;,</item>
				<item>&quot;wwwwwwwwwwwwwwww&quot;</item>
				<item>};</item>
			</image_list>
			<image_text>
				<item2>16</item2>
				<item2>16</item2>
				<item2>static const char *xpm_data[] = {</item2>
				<item2>&quot;16 16 30 1&quot;,</item2>
				<item2>&quot;w c Black&quot;,</item2>
				<item2>&quot;= c #97C4E7&quot;,</item2>
				<item2>&quot;; c #72A8D2&quot;,</item2>
				<item2>&quot;&gt; c #FFFFFF&quot;,</item2>
				<item2>&quot;0 c #839CB5&quot;,</item2>
				<item2>&quot;o c #6B98B8&quot;,</item2>
				<item2>&quot;X c #5A89A6&quot;,</item2>
				<item2>&quot;# c #3A749C&quot;,</item2>
				<item2>&quot;&lt; c #D1E5F5&quot;,</item2>
				<item2>&quot;q c #85A7BC&quot;,</item2>
				<item2>&quot;$ c #C3DDF1&quot;,</item2>
				<item2>&quot;9 c #749BB4&quot;,</item2>
				<item2>&quot;: c #5F9BC8&quot;,</item2>
				<item2>&quot;+ c #538DB3&quot;,</item2>
				<item2>&quot;- c #85BBE2&quot;,</item2>
				<item2>&quot;4 c #EFF6FC&quot;,</item2>
				<item2>&quot;O c #6591AE&quot;,</item2>
				<item2>&quot;6 c #F7FBFD&quot;,</item2>
				<item2>&quot;8 c #FAFCFE&quot;,</item2>
				<item2>&quot;1 c #DAEAF7&quot;,</item2>
				<item2>&quot;5 c #E9F3FA&quot;,</item2>
				<item2>&quot;_ c None&quot;,</item2>
				<item2>&quot;7 c #FDFDFE&quot;,</item2>
				<item2>&quot;2 c #E2EFF8&quot;,</item2>
				<item2>&quot;. c #8EA9BC&quot;,</item2>
				<item2>&quot;&amp; c #B6D5EE&quot;,</item2>
				<item2>&quot;* c #A5CCEA&quot;,</item2>
				<item2>&quot;, c #ACE95B&quot;,</item2>
				<item2>&quot;3 c #F4F9FD&quot;,</item2>
				<item2>&quot;@ c #4581AA&quot;,</item2>
				<item2>&quot;___.XoOO+@#.____&quot;,</item2>
				<item2>&quot;___.$$&amp;*=-O;:___&quot;,</item2>
				<item2>&quot;__@@@@$&amp;*=O&gt;=o__&quot;,</item2>
				<item2>&quot;__@,,@$$&amp;*O&gt;&gt;=o_&quot;,</item2>
				<item2>&quot;@@@,,@@@$&amp;OOoO+_&quot;,</item2>
				<item2>&quot;@,,,,,,@&lt;$&amp;*=-+_&quot;,</item2>
				<item2>&quot;@,,,,,,@1&lt;$&amp;*=+_&quot;,</item2>
				<item2>&quot;@@@,,@@@21&lt;$&amp;*O_&quot;,</item2>
				<item2>&quot;__@,,@34521&lt;$&amp;O_&quot;,</item2>
				<item2>&quot;__@@@@634521&lt;$o_&quot;,</item2>
				<item2>&quot;___.&gt;78634521&lt;9_&quot;,</item2>
				<item2>&quot;___.&gt;&gt;786345219_&quot;,</item2>
				<item2>&quot;___.&gt;&gt;&gt;78634520_&quot;,</item2>
				<item2>&quot;___.&gt;&gt;&gt;&gt;786345q_&quot;,</item2>
				<item2>&quot;___............_&quot;,</item2>
				<item2>&quot;wwwwwwwwwwwwwwww&quot;</item2>
				<item2>};</item2>
			</image_text>
			<image_count>1</image_count>
		</object>
		<object class="wxToolBar" name="ID_TOOLBAR1" variable="ToolBar" member="yes">
			<style>wxTB_FLAT|wxTB_DOCKABLE|wxTB_TEXT</style>
		</object>
	</object>
</wxsmith>
